<div class="catalog-main">
    <div class="catalog-main-list">
        <div class="catalog-main-list-logo">
            <p class="catalog-main-list-logo-text">АНТЭКС</p>
        </div>
        <div class="catalog-main-list-lv"></div>
        <div class="catalog-main-list-column">
            <a (click)="link({'type': '3G'})">3G антенны</a>
            <a (click)="link({'type': '4G'})">4G антенны</a>
            <a (click)="link({'type': '5G'})">5G антенны</a>
            <a (click)="link({'type': 'TV'})">ТВ антенны</a>
            <a (click)="link({'type': 'GMS'})">GMS</a>
        </div>
        <div class="catalog-main-list-column">
            <a (click)="link({'type': 'ROUTERS'})">3G/4G-WiFi Роутеры</a>
            <a (click)="link({'type': 'BOX'})">Антенны с боксом (BOX)</a>
            <a (click)="link({'type': 'RADIO'})">Антенны для радиосвязи</a>
            <a (click)="link({'type': 'USB'})">3G/4G USB модемы</a>
            <a (click)="link({'type': 'WIFI'})">WiFi</a>
        </div>
        <div class="catalog-main-list-column">
            <a (click)="link({'type': '3.5GHZ'})">Антенны диапазона 3,5ГГц</a>
            <a (click)="link({'type': 'REPEATERS'})">Репитеры GSM/3G/4G</a>
            <a (click)="link({'type': 'DIVIDERS'})">Делители мощности</a>
            <a (click)="link({'type': 'ACCESSORIES'})">Мачты, стеновые крепления, аксессуары</a>
            <a (click)="link({'type': 'FILTERS'})">Фильтры, диплексеры</a>
        </div>
        <div class="catalog-main-list-column">
            <a (click)="link({'type': 'PROTECTION'})">Грозозащита</a>
            <a (click)="link({'type': 'CABELS'})">Кабели, кабельные сборки, адаптеры (пигтейлы)</a>
            <a (click)="link({'type': 'HF_CONNECTORS'})">ВЧ разъемы, ВЧ переходники</a>
            <a (click)="link({'type': 'INSTRUMENTS'})">Инструменты</a>
            <a (click)="link({'type': 'OTHER_DIAPASON'})">Антенны для прочих диапазонов</a>
        </div>
    </div>    
</div>
