.order-page {
    margin-top: 20px;
    &-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-number {
            span {
                font-size: 22px;
                strong {
                    font-weight: 600;
                }
            }
        }
        &-products {
            width: 600px;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            &-img {
                img {
                    height: 100px;
                    width: 100px;
                    margin-right: 15px;
                }
            }
        }
    }
    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-nothing {
        margin-top: 40px;
    }
}