<div class="footer">
    <div class="footer-link">
        <div class="footer-link-href">
            <a href="partners">Наши партнеры</a>
            <a href="info">О компании</a>
            <a href="delivery">Доставка и оплата</a>
        </div>
        <div class="footer-link-contacts">
            <div class="footer-link-contacts-phone">
                <img src="../../../assets/phone-call.png">
                <span>+7 (917) 655 65 99</span>
            </div>
            <div class="footer-link-contacts-mail">
                <img src="../../../assets/email.png">
                <span>makarov.e.s@bk.ru</span>
            </div>
        </div>
    </div>
    <div class="footer-map">
        <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
            <ya-placemark [geometry]="[55.751952, 37.600739]"></ya-placemark>
        </ya-map>
    </div>
</div>