<div class="delivery-page">
    <div class="delivery-page-header"></div>
    <div class="delivery-page-body">
        <div class="delivery-page-body-delivery">
            <div class="delivery-page-body-delivery-title"><h1>Оплата</h1></div>
            <div class="delivery-page-body-delivery-body">
                <div class="delivery-page-body-delivery-body-column">
                    <h4>Банковский перевод</h4>
                    <p>Мы отправляем вам по электронной почте заполненную квитанцию на оплату заказа (с учетом доставки), вы распечатываете квитанцию на принтере ,по данной квитанции оплачиваете заказ в Сбербанке или в любом другом банке. По факту зачисления денег на наш расчетный счет заказанное вами оборудование в течении 2-3 рабочих дней отправляется указанным способом доставки.</p>
                </div>
                <div class="vert-hr"></div>
                <div class="delivery-page-body-delivery-body-column">
                    <h4>Электронный перевод</h4>
                    <p>Оплатите вашу покупку с сайта, с помощью нашего партнера «Robokassa».</p>
                    <div class="delivery-page-body-delivery-body-img">
                        <img src="../../../assets/money.png" class="delivery-page-body-delivery-body-img-money">
                    </div>
                    <p>Переводом с мобильного телефона по кодовым цифрам</p>
                    <div class="delivery-page-body-delivery-body-img">
                        <img src="../../../assets/mts.png" class="delivery-page-body-delivery-body-img-operators">
                    </div>
                </div>
                <div class="vert-hr"></div>
                <div class="delivery-page-body-delivery-body-column">
                    <h4>В почтовом отделении</h4>
                    <p>Если вы при оформление заказа выбираете способ оплаты - наложенный , то после оформления вами заказа наши менеджеры свяжутся с вами по телефону для уточнения нюансов и подтверждения заказа . После этой процедуры заказ дается в обработку в отдел логистики и отправляется в течении 2-3 рабочих дней с даты подтверждения.</p>
                </div>
            </div>
        </div>
        <div class="delivery-page-body-payment">
            <div class="delivery-page-body-payment-title"><h1>Доставка</h1></div>
            <div class="delivery-page-body-payment-info"><p>Отправим вашу антенну в любой город России с помощью транспортных компаний. Мы уже работаем с крупнейшими транспортными компаниями, но вы можете предложить свою. В таком случае, к стоимости заказа будет добавлено 250 Р за доставку до терминала.</p></div>
            <ngb-carousel>
                <ng-template ngbSlide>
                  <div>
                    <img src="../../../assets/russia_ems.png">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div>
                    <img src="../../../assets/pek.png">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div>
                    <img src="../../../assets/russia_pochta.png">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div>
                      <img src="../../../assets/express_auto.png">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div>
                      <img src="../../../assets/delovie_linii.png">
                    </div>
                  </ng-template>
              </ngb-carousel>
        </div>
    </div>
    <div class="delivery-page-footer"></div>
</div>
