.catalog-page {
    margin: 3vw 23vw;
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            cursor: pointer;
        }
        &-title {
            font-size: 25px;
            font-weight: 600;
            margin-right: 5px;
        }
        &-quantity {
            color: #a0a0a0;
        }
        button {
            border: 0;
            outline: none;
            background-color: #00a0ff;
            padding: 5px 25px;
            border: 1px;
            border-radius: 5px;
            color: #fff;
            height: 100%;
            margin-right: 15px;
        }
    }
    &-body {
        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }
    &-filter {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        div:nth-child(1) {
            margin-right: 30px;
        }
        input {
            padding: 10px;
            background-color: rgba(0, 160, 255, 0.1);
            border: 0;
            outline: none;
        }
        &-price-right {
            margin-left: 15px;
        }
        span {
            color: #aaa;
        }
    }
}

::ng-deep mat-dialog-container {
    background-color: #fff !important;
}

::ng-deep .mat-dialog-container {
    background-color: #fff !important;
}