.basket-page {
    padding: 3vw 23vw;
    &-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-products {
            display: flex;
            flex-direction: row;
            &-number {
                margin-right: 15px;
                span {
                    font-size: 23px;
                    font-weight: 700;
                }
            }
            &-product {
                margin-bottom: 30px;
                width: 100%;
            }
        }
        &-order {
            // background-color: rgba(0, 160, 255, 0.1);
            // box-shadow: 0 0 10px rgba(0,0,0,0.3);
            border: 1px solid rgba(0,0,0,0.1);
            padding: 15px;
            // width: 30%;
            margin-left: 30px;
            height: 100%;
            input {
                height: 40px;
                border: 0;
                width: 100%;
                padding: 0 15px;
                margin-bottom: 30px;
                background-color: rgba(0, 160, 255, 0.3);
                color: #fff;
                outline: none;
            }
            input::placeholder {
                color: #fff;
            }
            button {
                border: 0;
                outline: none;
                background-color: #00a0ff;
                padding: 10px 25px;
                border: 1px;
                border-radius: 5px;
                color: #fff;
                width: 100%;
                margin-top: 40px;
            }
        }
    }
    &-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        &-info {
            &-price {
                margin-left: 20px;
                font-size: 23px;
                font-weight: 700;
            }
        }
    }
}