<div class="info-page">
    <div class="info-page-header">
        <h3>О нашей компании</h3>
    </div>
    <hr>
    <div class="info-page-body">
        <p>Предприятие “Антэкс” создано в 2006 году. Основное направление деятельности- проектирование, производство, продажа антенно-фидерных устройств различных частотных диапазонов и конструкций. Дипломированные специалисты предприятия имеют многолетний опыт работы в данной сфере. Мы производим широкую гамму антенн: от простых штыревых, до сложных полосковых; от антенн с изотропной диаграммой направленности, до антенн с секторной и игольчатой диаграммами направленности. На данный период, наше предприятие производит и реализует почти все линейки антенн для радиосвязи стандартов: LTE2600, UMTS2100, CDMA450, GSM900, GSM1800, DECT, WIFI, UHF, VHF и т. д. Вся выпускаемая продукция проходит финишную настройку на радиоизмерительном оборудовании. Сотрудники нашего предприятия рассмотрят Ваши предложения по выпуску антенн необходимых для Вашего бизнеса и имеющие спрос у Ваших клиентов. Приглашаем к сотрудничеству региональных продавцов антенной техники.</p>
        <p>Предприятие "Антэкс" приглашает к сотрудничеству региональных продавцов антенно-фидерной продукции. Если ваше предприятие находится в областном центре или в другом населенном пункте лежащем на больших транспортных развязках, если у вас имеются потенциальные покупатели нашей продукции, то у вас есть возможность стать нашим партнером. Присылайте ваши предложения на электронную почту antex-e@ya.ru , v.lapin@antex-e.ru.</p>
    </div>
    <div class="info-page-footer">
        <p>Инженеры нашего предприятия постоянно совершенствуют "начинку"  антенн производства НПП Антэкс. Конструкции антенн оригинальны и имеют патенты РФ.</p>
        <div class="info-page-footer-patent">
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_1.jpg">
                <p>Свидетельство на товарный знак</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_2.jpg">
                <p>Патент на антенну Nitsa-3</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_3.jpg">
                <p>Патент получен на конструкции антенн Petra BB, Petra BB MIMO 2x2, Agata, Agata MIMO 2x2, Zeta</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_4.jpg">
                <p>Патент получен на конструкцию перспективного антенного адаптера</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_5.jpg">
                <p>Патент на перспективную конструкцию антенн AX-2014Y, AX-2017Y, AX-2514Y, AX-2517Y</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_6.jpg">
                <p>Патент на конструкцию антенных адаптеров AXA-2000/2600/3000</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_7.jpg">
                <p>Патент на конструкции антенн Nitsa-5, Nitsa-5 MIMO 2x2</p>
            </div>
            <div class="info-page-footer-patent-div">
                <img src="../../../assets/patent_8.jpg">
                <p>Патент получен на двухдиапазонную антенну Nitsa-2, Nitsa-4</p>
            </div>
        </div>
    </div>
</div>
